# Backend (Rust)
backend/target/
backend/.env
target/

# PWA (SvelteKit)
pwa/node_modules/
pwa/build/
pwa/.svelte-kit/
pwa/.env
pwa/pwa-dist/

# Docs
doc/node_modules/
doc/build/
doc/.docusaurus/

# Generic
.idea/
.zed/
.env
.DS_Store
*.log
*.swp
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
