version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BASE_URL=${BASE_URL}
        - WS_URL=${WS_URL}
    container_name: focus_flow_web
    ports:
      - "8080:80"
    restart: unless-stopped
