name: App CI

on:
  pull_request:
    branches: ["*"]
    paths:
      - "app/**"
      - ".github/workflows/ci-app.yaml"
  push:
    branches: ["*"]
    paths:
      - "app/**"
      - ".github/workflows/ci-app.yaml"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          # flutter-version: '3.x' # Optional: specify a version if needed

      - name: Install dependencies
        run: flutter pub get

      - name: Create dummy config.json
        run: echo '{"BASE_URL":"http://localhost:8080","WS_URL":"ws://localhost:8080/ws/session"}' > assets/config.json

      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK (Debug)
        run: flutter build apk --debug
