name: Release

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:

  create-release-branch:
    runs-on: ubuntu-latest
    needs: docker-build-push
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create Release Branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          TAG_NAME=${GITHUB_REF#refs/tags/}
          BRANCH_NAME="release/$TAG_NAME"
          git checkout -b $BRANCH_NAME
          git push origin $BRANCH_NAME

  docker-build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-gnu

      - uses: swatinem/rust-cache@v2

      - name: Build binaries
        run: |
          cargo build --release --target x86_64-unknown-linux-gnu
      
      - name: Prepare binaries
        run: |
          cp target/x86_64-unknown-linux-gnu/release/focus_flow_cloud ./focus_flow_cloud-amd64

      - name: Extract version from Cargo.toml
        id: crate-version
        uses: colathro/crate-version@2.0.0
        with:
          file: "./Cargo.toml"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/focusflowcloud
          tags: |
            type=raw,value=${{ steps.crate-version.outputs.version }}
            type=raw,value=latest
            type=ref,event=tag

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
             focus_flow_cloud-amd64
             
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.production
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          platforms: linux/amd64
          cache-to: type=gha,mode=max
